.card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.15), 10, 0, 0, 5);
    -fx-padding: 15px;
    -fx-spacing: 10px;
    -fx-border-color: transparent;

}

.card {
    -fx-pref-width: 220px; /* Largeur fixe */
    -fx-pref-height: 300px; /* Hauteur fixe */
    -fx-margin: 10px; /* Marge entre les cartes */
}


.card:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0, 0, 8);
    -fx-translate-y: -2px;
}

.card-image {
    -fx-background-radius: 20px 20px 0 0;
    -fx-border-radius: 20px 20px 0 0;
}

.card-image {
    -fx-pref-width: 200px;  /* Largeur fixe */
    -fx-pref-height: 130px; /* Hauteur fixe */
    -fx-background-radius: 20px; /* Arrondi des coins */
    -fx-border-radius: 20px; /* Arrondi des coins */
    -fx-clip: rect(0px, 200px, 130px, 0px); /* Découpe l'image pour respecter le border-radius */
}



.card-content {
    -fx-padding: 10px;
}

.card-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-fill: #333333;
}

.card-subtitle {
    -fx-font-size: 13px;
    -fx-fill: #6c757d;
}

.card-rating {
    -fx-padding: 5px 0;
    -fx-alignment: center-left;
    -fx-spacing: 3px;
}

.star {
    -fx-font-size: 16px;
    -fx-fill: #F6C026;
}

.card-buttons {
    -fx-padding: 10px 0 0 0;
    -fx-alignment: center;
}

.btn-primary {
    -fx-background-color: #4292bf;
    -fx-text-fill: white;
    -fx-background-radius: 12px;
    -fx-padding: 8px 16px;
    -fx-font-size: 13px;
    -fx-cursor: hand;
}

.btn-primary:hover {
    -fx-background-color: #434190;
}

.btn-secondary {
    -fx-background-color: #CBD5E0;
    -fx-text-fill: #333333;
    -fx-background-radius: 12px;
    -fx-padding: 8px 16px;
    -fx-font-size: 13px;
    -fx-cursor: hand;
}

.btn-secondary:hover {
    -fx-background-color: #A0AEC0;
}
